@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container">
	<div class="row ps-5 pt-5">
		<div class="col-md-6">
			<h1>Meritios</h1>
			<p>
				Allt du behöver för att digitalisera LiA
				praktiken och företagspoolen i ett lättanvänt verktyg
			</p>
			<button class="btn btn-dark">Boka demo</button>
		</div>
		<div class="col-md-6">
			<img class="h-100 w-100" src="https://wp.meritios.com/wp-content/uploads/2022/12/Namnlost-2.png" />
		</div>
	</div>     <div>
		<div class="text-center bg-primary">
			<h1>Företagspoolen samade under ett CRM</h1>
			<button class="btn btn-dark">Läs mer</button>
		</div>
	</div>     <div class="row">
		<div class="col-md-6">
			<img  class="w-100 h-100" src="https://wp.meritios.com/wp-content/uploads/2022/12/Namnlost-3-1536x1536.png" />
		</div>
		<div class="col-md-6 text-center">
			<h1>Digitalisering av LiA-processen</h1>
			<button class="btn btn-success"></button>
		</div>
	</div>
</div>


